body {
    background-color: rgb(100, 1, 1);
    color: white;
}
#box1 {
    height: 100px;
    width: 100px;
    background-image: url("min.jpg");
    background-size: cover;
    position: fixed;
    right: 0px;

}